.cases-studies-gallery-container {
  margin: 1.8rem;

  .case-studies-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.8rem;


    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 780px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    .case-study-link {
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;

      .case-studies-image {
        height: 100%;
      }

      &:hover {
        .case-studies-info {
          transform: translate(0px);
          opacity: 1;
        }
      }

      .case-studies-info {
        padding: 8rem 4rem;
        @include center;
        align-items: flex-start;
        position: absolute;
        z-index: 10;
        height: 100%;
        background-color: $grey4op;
        width: 100%;
        transform: translateX(400px);
        opacity: 0;
        transition: 300ms;

        @media (max-width: 500px) {
          transform: translateX(0px);
          opacity: 1;
          padding: 4rem 1rem;
        }
      }

      .case-info-wrap {
        max-width: 250px;

        h2 {
          color: $white;
          padding: 1rem;
          font-size: 2rem;
          font-weight: 100;

          b {
            color: inherit;
            font-weight: 100;
          }
        }

        .red-line {
          height: 1px;
          background-color: $red3;
          width: 80%;
        }

        h3 {
          display: none;
        }

        ul {
          display: none;

          li::marker {
            font-size: 10px;
            color: $white;
          }
        }
      }
    }
  }


}