.cases-studies-gallery-container {
  .case-studies-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 770px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 490px) {
      grid-template-columns: 1fr;
    }

    .case-study-link {
      margin: 0;
      padding: 0;
      position: relative;

      .case-studies-image {
        height: 100%;
      }

      .case-studies-info {
        @include center;
        position: absolute;
        z-index: 10;
        height: 100%;
        background-color: $grey4op;
        width: 100%;
        transform: scaleX(0);
        // transform: scaleX(1);
        transition: transform 300ms;

        .case-info-wrap {
          h2:first-child {
            font-weight: 800;
          }

          h2 {
            color: $white;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 100;
            @media (max-width: 1150px) {
              padding: 0.3rem;
              font-size: 1.8rem;
            }

            b {
              color: inherit;
            }
          }

          .red-line {
            height: 1px;
            background-color: $red3;
            width: 80%;
            margin-left: 1rem;
          }

          h3 {
            color: $white;
            padding: 1rem;
            font-weight: 100;
            @media (max-width: 1150px) {
              padding: 0.3rem;
              font-size: 1.8rem;
            }

            b {
              color: inherit;
            }
          }

          ul {
            padding-top: 1.8rem;
            padding-left: 3.1rem;
            @media (max-width: 1150px) {
              padding: 0.3rem;
            }

            li {
              @media (max-width: 1150px) {
                margin-left: 2.8rem;
              }
              p {
                color: $white;
              }
            }

            li::marker {
              font-size: 20px;
              color: $white;
            }
          }
        }
      }
    }

    .case-study-link:hover {
      .case-studies-info {
        transform: scaleX(1);
      }
    }
  }
}
