.bars-wrap-mob {
  display: none;

  @media (max-width: 415px) {
    display: block;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
}

.case-study-mobile-hero {
  display: none;
  max-height: calc(50vh);
  overflow: hidden;
  position: relative;
  @include bx-shadow;

  @media (max-width: 500px) {
    display: block;
  }

  .overlay-mobile {
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to top, #00000078, #00000000);
    width: 100%;
    height: 100%;
  }

  .case-study-mobile-title {
    z-index: 100;
    position: absolute;
    bottom: 10px;
    left: 5%;

    h1 {
      color: $white;
      opacity: 0;

      &::after {
        left: 0;
        top: -15px;
        @include big-red-line;
      }

      animation-name: casetitlereveal;
      animation-duration: 1000ms;
      animation-timing-function: linear ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      transform: translateX(-100vw);
    }

    @keyframes casetitlereveal {
      0% {
        opacity: 0;
        transform: translateX(-100vw);
      }

      60% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

}

.case-study-slider-wrap {
  max-height: calc(42vw);
  overflow: hidden;
  position: relative;
  @include bx-shadow;

  // @media (max-width:780px) {
  //   max-height: calc(39vw);
  // }

  @media (max-width: 500px) {
    display: none;

  }

  .overlay {
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to right, #00000095, #00000010);
    width: 100%;
    height: 100%;
  }

  .case-study-title {
    z-index: 100;
    position: absolute;
    bottom: 50px;
    left: 80px;

    @media (max-width: 1210px) {
      bottom: 20px;
      left: 40px;

    }


    h1 {
      color: $white;
      opacity: 0;

      &::after {
        left: 0;
        top: -15px;
        @include big-red-line;

        @media (max-width: 780px) {
          top: -10px;
        }
      }

      animation-name: casetitlereveal;
      animation-duration: 1000ms;
      animation-timing-function: linear ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      transform: translateX(-100vw);
    }

    @keyframes casetitlereveal {
      0% {
        opacity: 0;
        transform: translateX(-100vw);
      }

      60% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.background {
  @include background-curve;
}

.description {
  padding: 6rem 3rem 0rem;
  margin: 0 auto;
  max-width: 1130px;

  @media (max-width:780px) {
    width: 70%;
    padding: 6rem 0 0rem;
  }

  @media (max-width: 500px) {
    padding: 2rem 0rem 0rem;
    width: 90%;
  }

  h2 {
    margin: 3rem 0;

    @media (max-width: 500px) {
      margin: 2rem 0;
    }
  }
}


.case-wrap {
  .page-break {
    @include page-break;
  }

  .case-background {
    z-index: -1;
    width: 100%;
    height: 160%;
    position: absolute;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .case-study-container {
    padding: 3rem 0 6rem;
    margin: 0 auto;
    max-width: 1200px;

    @include center;
    flex-direction: column;

    @media (max-width:780px) {
      width: 70%;
      padding: 3rem 0 6rem;
    }

    @media (max-width:500px) {
      width: 90%;
      padding: 2rem 0 0rem;
    }

    @media (max-width:415px) {
      padding: 0rem 0 0rem;
    }

    // .description {
    //   width: 100%;
    //   max-width: 1130px;
    //   padding: 3rem 3rem 3rem;
    // }

    .case-study-page {
      padding: 0 3rem;
      position: relative;
      width: 100%;
      max-width: 1130px;
      @include center;
      justify-content: space-between;

      @media (max-width:780px) {
        // width: 70%;
        padding: 3rem 0 3rem;
      }

      @media (max-width:500px) {
        // width: 70%;
        padding: 0rem 0 2rem;
      }

      @media (max-width:415px) {
        flex-direction: column;
      }

      .bars-wrap {
        position: absolute;
        left: calc(50% - 50px);

        @media (max-width:780px) {
          left: calc(50% - 25px);
        }

        @media (max-width:415px) {
          display: none;
        }

        img {
          margin-top: 10rem;
          width: 100px;
          height: 100px;

          @media (max-width:780px) {
            width: 50px;
            height: 50px;
          }
        }
      }

      .case-study-text-wrap {

        h2 {
          font-weight: 100;
        }

        h3 {
          margin: 3rem 0;
          font-weight: 100;

          @media (max-width:500px) {
            margin: 2rem 0;
          }
        }

        ul {
          margin-left: 2.1rem;
        }

        li::marker {
          font-size: 20px;
        }
      }
    }

    .case-study-information-wrap {
      z-index: 100;
      @include center;
      flex-direction: column;



      .button {
        display: block;
        @include button-large;

        @media (max-width: 500px) {
          margin-top: 2rem;
        }

        p {
          font-weight: 100;
        }
      }

      .hide,
      .show {
        button {
          width: 15px;
          height: 15px;
          background-color: $grey3;
          position: absolute;
          right: 20px;
          top: 20px;

          img {
            top: 0;
            z-index: 5;
            display: block;
            cursor: pointer;
            position: absolute;
            z-index: 5;
            transition: 300ms transform;

            &:hover {
              transform: rotate(180deg);
            }
          }
        }

        h2:after {
          content: "";
          position: absolute;
          background-color: $red3;
          height: 1px;
          height: 1px;
          width: 220px;
          top: 43px;
          left: calc(50% - 110px);
        }

        z-index: 2;
        background-color: $grey3;
        padding: 30px;
        right: 0;
        top: 90px;
        position: fixed;
        @include bx-shadow;
        animation-name: reveal;
        transform: translateX(+400px);
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;

        @media (max-width: 992px) {
          top: 55px;

        }

        @media (max-width: 500px) {
          padding: 5%;
        }


        @keyframes reveal {
          0% {
            transform: translateX(+400px);
          }

          100% {
            transform: translateX(0);
          }
        }

        h2 {
          color: $white;
          text-align: center;
          margin-bottom: 3rem;

          @media (max-width: 500px) {
            display: none;
          }
        }

        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;

          -webkit-overflow-scrolling: touch;

          @media (max-width: 500px) {
            overflow-y: scroll;
          }

          li::marker {
            font-size: 20px;
            color: $white;

            @media (max-width: 500px) {
              color: rgba(255, 255, 255, 0);
            }
          }

          li {
            margin: 0 3rem;

            @media (max-width: 500px) {
              margin: 0 5%;
              border-bottom: 1px solid $red3;
            }

            p {
              color: $white;
            }
          }
        }
      }

      .hide {
        animation-name: conceal;
        transform: translateX(0);
        animation-duration: 400ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;

        @keyframes conceal {
          0% {
            transform: translateX(0);
          }

          100% {
            transform: translateX(+100vw);
          }
        }
      }

      .button:last-child {
        margin-top: 5rem;
        background-color: $grey3;
        transition: 300ms;

        @media (max-width:415px) {
          margin-top: 2rem;
        }

        &:hover {
          background-color: $red3;
        }
      }
    }
  }

  .show-gallery {
    transform: translate(0px);
    opacity: 1;
    transition: 500ms;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.8rem;
    background-image: linear-gradient(to top right, #00000033, #00000000);
    padding: 1.8rem;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 770px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 490px) {
      grid-template-columns: 1fr;
    }

    button {
      z-index: 100;
      position: absolute;
      top: 36px;
      right: 36px;
      background-color: $red3;
      padding: 10px 12px;
      @include bx-shadow;
      cursor: pointer;

      &:hover {}

      span {
        font-size: 1.8rem;
        color: $white;
        padding-left: 10px;
        padding-right: 2px;
      }

      img {}
    }
  }

  .hide-gallery {
    display: none;
  }
}