.page-wrap {
  padding: 10rem 0;
  margin: 0rem auto;
  max-width: 1200px;

  @media (max-width:500px) {
    padding: 2rem 0;
  }

  .page-break {
    @include page-break;
  }

  .main-text {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .welcome {
      z-index: 1;
      width: 70%;

      @media (max-width:500px) {
        width: 90%;
      }

      h2 {
        position: relative;
        margin-bottom: 3rem;

        &::after {
          bottom: -15px;
          left: 0;
          @include red-line;
        }
      }

      p {
        margin: 0.9rem 0;
      }

      .button {
        margin-top: 3rem;
        @include button-small;

        // &:hover {
        //   @include button-hover;
        // }
      }
    }

    .bars-wrap {
      z-index: 1;
      margin-top: 25px;

      @media (max-width: 780px) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .work-with-us-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 6rem;

    @media (max-width:780px) {
      flex-direction: column;
      padding: 0;
    }

    .work-with-us-image {
      width: 50%;
      @include bx-shadow;

      @media (max-width:780px) {
        width: 70%;
      }

      @media (max-width:500px) {
        width: 90%;
      }
    }



    .work-with-us {
      z-index: 1;
      width: 50%;
      padding: 6rem 0 6rem 6rem;

      @media (max-width:780px) {
        width: 70%;
        padding: 6rem 0 0rem;
      }

      @media (max-width:780px) {
        width: 90%;
        padding: 2rem 0 0rem;
      }

      h2 {
        position: relative;
        margin-bottom: 3rem;

        &::after {
          bottom: -15px;
          left: 0;
          @include red-line;
        }
      }

      p {
        margin: 0.9rem 0;
      }

      .button {

        a {
          margin-top: 3rem;
          @include button-small;

          // &:hover {
          //   @include button-hover;
          // }
        }
      }

    }
  }
}

.wrap {
  position: relative;
  width: 100vw;

  .background {
    @include background-curve;
  }
}