.page-wrap {
  padding: 10rem 0;
  margin: 0rem auto;
  max-width: 1200px;

  .page-break {
    @include page-break;
  }

  .main-text {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .welcome {
      z-index: 1;
      width: 70%;

      h2 {
        position: relative;
        margin-bottom: 3rem;

        &::after {
          bottom: -15px;
          left: 0;
          @include red-line;
        }
      }

      p {
        margin: 0.9rem 0;
      }

      .button {
        margin-top: 3rem;
        @include button-small;

        // &:hover {
        //   @include button-hover;
        // }
      }
    }

    .bars-wrap {
      z-index: 1;
      margin-top: 25px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .work-with-us-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 6rem;

    .work-with-us-image {
      width: 50%;
      @include bx-shadow;
    }

    .work-with-us {
      z-index: 1;
      width: 50%;
      padding: 6rem 0 6rem 6rem;

      h2 {
        position: relative;
        margin-bottom: 3rem;

        &::after {
          bottom: -15px;
          left: 0;
          @include red-line;
        }
      }

      p {
        margin: 0.9rem 0;
      }

      .button {
        margin-top: 3rem;
        @include button-small;

        // &:hover {
        //   @include button-hover;
        // }
      }
    }
  }
}

.wrap {
  position: relative;
  width: 100%;

  .background {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1500px) {
      background-size: contain;
    }
  }
}
