.accreditations {
    margin-bottom: 0rem;
    @include center;
    flex-direction: column;

    h2::after {
        top: 35px;
        @include red-line;
        left: calc(50% - 15px);
    }

    .accreditations-logo {
        width: 70vw;
        max-width: 1200px;
        margin: 6rem 0 0;
        display: flex;
        justify-content: space-between;

        .image-wrap {
            padding: 5px;
            background-color: $white;
            @include bx-shadow;
            margin: 10px;
        }

        @media (max-width: 1170px) {
            flex-wrap: wrap;
            justify-content: center;

        }
    }
}