.carousel {
  margin: 6rem auto;
  max-width: 960px;
  overflow: hidden;

  @media (max-width: 1010px) {
    max-width: 660px;
  }

  @media (max-width: 700px) {
    max-width: 250px;
  }

  @media (max-width: 700px) {
    margin: 2rem auto;
  }

  h2 {
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
  }

  h2:after {
    @include red-line;
    left: calc(50% - 15px);
    bottom: -15px;
  }


  .carousel-images {
    width: 960px;
    white-space: nowrap;
    transition: ease 2000ms;

    @media (max-width: 1010px) {
      max-width: 660px;
    }

    @media (max-width: 700px) {
      display: none;
    }

    .case-study-link {

      margin-right: 20px;
      position: relative;

      .view-case {
        position: absolute;
      }

      .case-studies-image {

        display: inline-block;
        width: 300px;
        @include bx-shadow;
        transition: 300ms;

        @media (max-width: 1010px) {
          max-width: 200px;
        }

        @media (max-width: 700px) {
          max-width: 250px;
        }
      }
    }

    .case-study-link-button {
      position: absolute;
      content: "View Case";
      bottom: 25px;
      left: 20px;
      z-index: 1000;
      border: 2px solid #fff;

      padding: 5px 10px;
      transition: 300ms;

      p {
        color: #fff;
      }

      &:hover {
        border: 2px solid $red3;
        background-color: $red3;
        @include bx-shadow;
      }
    }
  }

  .carousel-dots {
    text-align: center;
  }

  .carousel-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 3rem 7px 0px;
    background-color: $grey2;
    transition: 300ms;

    &:hover {
      background-color: $red3;
    }
  }

  // .carousel-dot.active {

  // }
}