.footer {
  background-color: $grey3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @media (max-width: 1570px) {
    align-items: flex-end;
  }

  @media (max-width: 870px) {
    align-items: center;
  }

  .footer-logo {
    background-color: $white;
    left: 5%;
    top: 0px;
    position: absolute;
    padding: 1.2rem;
    @include bx-shadow;

    img {
      width: 70px;
      height: 70px;
    }

    @media (max-width: 870px) {
      display: none;
    }
  }

  .footer-elements-wrap {
    padding: 3.6rem 0 3.6rem;
    width: 85%;
    display: flex;
    justify-content: space-around;

    @media (max-width: 780px) {
      flex-direction: column;
      align-items: center;
      flex-flow: column-reverse;
    }

    .footer-elements {

      @media (max-width: 780px) {
        width: 261px;
        border-top: 1px solid #363636c2;
        margin: 1.8rem;
      }

      .footer-nav {
        display: flex;
        flex-direction: column;

        @media (max-width: 780px) {
          width: 190px;
          margin: 0 auto;
        }


        a {
          color: #fff;
          position: relative;
          margin-left: 1.5rem;

          @media (max-width: 780px) {
            margin-top: 0.9rem;
          }
        }

        a:before {
          position: absolute;
          content: "";
          left: -1.5rem;
          top: 0.8rem;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.418);
        }
      }

      h2,
      h3,
      p {
        color: $white;

        @media (max-width: 780px) {
          text-align: center;
        }
      }

      h2 {
        margin-left: 0;
        margin-bottom: 1.8rem;

        @media (max-width: 780px) {
          margin-top: 1.8rem;
          margin-bottom: 0.9rem;
        }
      }

      h3 {
        margin-bottom: 1.8rem;

        @media (max-width: 780px) {
          margin-top: 1.8rem;
          margin-bottom: 0.9rem;
        }
      }

      p {
        margin: 0;
      }

      .footer-contact-details {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @media (max-width: 780px) {
          align-items: center;
        }

        .footer-contact {
          img {
            margin: 0 10px;
            margin-left: 0;
            width: 20px;
          }

          .footer-email {
            margin-top: 3px;
          }

          p {
            color: $white;
          }

          display: flex;
          align-items: center;
        }

        .footer-linked-in {
          margin-top: 0.8rem;
          background-color: $red3;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          @include center;

          img {
            margin-top: 2px;
            margin-left: 9px;
            width: 11px;
          }
        }

        .footer-logo-two {
          display: none;
          margin-top: 1rem;
          background-color: $white;
          padding: 0.7rem;
          @include bx-shadow;

          @media (max-width: 870px) {
            display: block;
          }

          @media (max-width: 780px) {
            display: none;

          }
        }
      }
    }
  }

  .bottom-footer {
    height: 65px;
    @include center;
    width: 100%;
    background-color: $grey4;

    .web-design {
      margin-right: 40px;
      color: rgba(255, 255, 255, 0.55);

      span {
        font-size: 1.8rem;
        color: $white;
      }
    }

    a {
      color: $white;
      margin: 0 5px;
    }
  }
}