.contact-form {
  overflow: hidden;
  margin-bottom: 6rem;

  @media (max-width: 500px) {
    margin-bottom: 2rem;
  }
}

form {
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
  @include center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 500px) {
    width: 90%;
  }



  button {
    @include button-small;
    height: 50px;
    width: 150px;
    color: #fff;
    font-size: 1.8rem;
  }

  .contact-details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.9rem;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }


    .fields {
      width: 100%;

      @media (max-width: 500px) {
        width: 80%;
        margin: 0 auto;
      }

      label {
        position: relative;
      }

      input:focus {
        outline: 1px solid $red3;
      }

      input {
        margin: 0.9rem 0;
        height: 50px;
        min-height: 50px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.171);
        @include bx-shadow-light;
      }

      .danger {
        margin: 0.9rem 0;
        text-align: left;
        color: $red3;
      }

    }
  }

  .contact-message {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      width: 100%;
      position: relative;
      margin-bottom: 2rem;

      @media (max-width: 500px) {
        margin: 0 auto 2rem;
        width: 80%;

      }
    }

    textarea:focus {
      outline: 1px solid $red3;
    }

    textarea {
      margin: 0.9rem 0;
      width: 100%;
      height: 500px;
      border: 1px solid rgba(0, 0, 0, 0.171);
      @include bx-shadow-light;

      @media (max-width: 500px) {
        width: 80%;
        margin: 0 auto;
      }
    }

    .danger {
      margin: 0.9rem 0;
      text-align: left;
      color: $red3;
    }

  }

  .form-buttons {
    margin: 0.9rem 0;

    @media (max-width: 500px) {
      margin: 2rem auto 2rem;
      width: 80%;

    }
  }
}