.header {
  z-index: 200;
  background-color: $white;
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  @include bx-shadow;

  @media (max-width: 992px) {
    height: 50px;
  }

  .header-logo {
    background-color: $white;
    left: 40px;
    top: 40px;
    position: absolute;
    padding: 1rem;
    @include bx-shadow;

    @media (max-width: 992px) {
      top: 20px;
      left: 20px;
      padding: 0.8rem;
    }

    @media (max-width: 780px) {
      top: 10px;
      left: 10px;
      padding: 0.7rem;
      z-index: 115;
    }

    @media (max-width:500px) {
      padding: 0.5rem;
    }


    img {
      width: 100px;
      height: 100px;

      @media (max-width: 992px) {
        width: 70px;
        height: 70px;
      }

      @media (max-width:500px) {
        width: 60px;
        height: 60px;

      }
    }
  }

  .nav-show {
    transform: translateX(0);
    -webkit-transform: translatX(0);
    transition: 500ms;
  }

  .nav-hide {
    transform: translateX(0);
    -webkit-transform: translatX(0);

    @media (max-width: 992px) {
      transform: translateX(500px);
      -webkit-transform: translatX(500px);
      transition: 500ms;
    }
  }

  .header-contact-nav-wrap {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 992px) {
      z-index: 110;
      padding: 1.8rem;
      top: 50px;
      right: 0;
      position: absolute;
      @include bx-shadow;
      align-items: flex-start;
      margin-right: 0;
      background-color: $grey0;
    }

    @media (max-width: 500px) {
      height: 100vh;
      width: 100vw;
      align-items: center;
    }

    .header-contact-details {
      display: flex;
      align-items: center;

      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
        background-color: $grey4;
        padding: 1.8rem;
        @include bx-shadow;
      }

      @media (max-width: 500px) {
        align-items: center;
      }

      .header-contact {
        img {
          margin: 0 5px;
          width: 20px;
        }

        p {
          @media (max-width: 992px) {
            color: $white;
          }
        }

        .header-email {
          margin-top: 3px;
        }

        display: flex;
        align-items: center;

      }

      .linked-in {
        @include center;

        img {
          margin-top: 2px;

        }
      }
    }

    .header-nav {
      ul {
        a {
          margin: 0.5rem 0.8rem;
          transition: 300ms;

          &:hover {
            color: $red3;
          }
        }
      }

      @media (max-width: 992px) {

        ul {
          padding-top: 1.8rem;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}