.page-nav {
  z-index: 10000;
  height: 60px;
  @include bx-shadow;
  @include center;
  background-color: #fff;

  .page-nav-wrap {
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    a {
      display: block;
      margin: 0.9rem;
      transition: 300ms;
      padding: 2px;

      &:hover {
        color: $red3;
      }
    }

    a:nth-child(1) {
      margin-left: 0;
    }

    a:nth-child(8) {
      margin-right: 0;
    }
  }

}