.scroll {
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  right: 3rem;
  bottom: 50px;
  padding: 10px 12px;
  background-color: $red3;
  transition: 300ms;
  @include center;
  @include bx-shadow;

  @media (max-width: 500px) {
    bottom: 80px;
    right: 10px;
  }

  img {
    transform: rotate(270deg);
    width: 20px;
    height: 20px;
  }

  span {
    font-size: 1.8rem;
    color: #fff;
    padding-left: 10px;
    padding-right: 2px;

    @media (max-width: 500px) {
      display: none;
    }
  }
}
